/******  Bug transitions  *******/
.clean__transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
/******   reset  *******/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;400&display=swap");

/********************/
/*** GENERALITES  ***/
/********************/
html {
  background: white;
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  background: #555;
  position: relative;
}
/*******************/
/***** HEADER ******/
/*******************/
.nav__container {
  display: flex;
  z-index: 30;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 90px;
  background: #333;
  padding-right: 40px;
  list-style-type: none;
  z-index: 20;
}
.nav__items {
  display: flex;
  align-items: center;
}
.a_nav {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #f1f1f1;
  z-index: 21;
  padding: 0 20px;
}

.a_nav::after {
  content: "";
  display: block;
  border-bottom: 3px solid #f1f1f1;
  width: 0px;
  border-radius: 5px;
  margin: 2px auto 0 auto;
  transition: 0.3s ease-in-out;
}
.a_nav:hover::after {
  width: 100%;
}

/* *************************** */
/* *   Bouton toggle burger  * */
/* *************************** */
.btn__toggle__container {
  cursor: pointer;
  display: none;
  border: none;
}
/*******************/
/*** Icon Burger ***/
/*******************/
.container__burger {
  /* position: absolute; */
  /* top: 15px;
  right: 15px; */
  padding: 8px;
  border-radius: 8px;
  background: #333;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.6);
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 1000;
}
.cont__lignes {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.lignes {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #f1f1f1;
  position: absolute;
  transition: transform 0.5s ease-in-out, top 0.5s 0.5s ease-in-out,
    opacity 0.5s 0.5s ease-in-out;
}

.lignes:nth-child(1) {
  top: 0px;
}
.lignes:nth-child(2) {
  top: 13px;
}
.lignes:nth-child(3) {
  top: 27px;
}
.cont__lignes.active .lignes:nth-child(1) {
  top: 13px;
  transform: rotate(135deg);
  background: coral;
  transition: top 0.5s ease-in-out, transform 0.5s 0.5s ease-in-out;
}
.cont__lignes.active .lignes:nth-child(2) {
  opacity: 0;
  background: coral;
}
.cont__lignes.active .lignes:nth-child(3) {
  top: 13px;
  transform: rotate(-135deg);
  background: coral;
  transition: top 0.5s ease-in-out, transform 0.5s 0.5s ease-in-out;
}
/************************/
/****** ANIMATIONS ******/
/************************/
@keyframes vibrate {
  0% {
    transform: translateY(5%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}
/******************/
/****** MAIN ******/
/******************/

/*******************/
/***** FOOTER ******/
/*******************/

@media screen and (max-width: 505px) {
  /*****************/
  /** Menu burger **/
  /*****************/
  .btn__toggle__container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    padding: 10px;
    z-index: 50;
  }
  .btn__toggle__container:hover {
    animation: vibrate 0.2s;
    animation-delay: 0.15s;
  }
  .btn__toggle__container:active {
    transform: scale(0.9);
  }
  .nav__list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
  }
  .nav__items {
    margin: 6rem 0;
  }
  .nav__container {
    height: 0px;
    transition: 0.3s ease-in-out;
  }
  .nav__container.active__menu {
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-bottom: 2px solid #f1f1f1;
    transition: 0.3s ease-out;
  }
  .a_nav {
    display: block;
    color: #f1f1f1;
    font-size: 38px;
    margin: 0;
    display: none;
  }
  .a_nav.active {
    display: block;
    transition: 0.3s ease-in-out;
  }
}
